.container {
  width: 100%;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.section {
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input, select {
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #6a0dad; /* Roxo */
  color: #fff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #520b75;
}

button[type="submit"]:disabled {
  background-color: #808080; /* Cinza */
  color: #fff;
  cursor: not-allowed;
}

button[type="button"]:nth-child(2) {
  background-color: #0a74da; /* Azul */
  color: #fff;
}

button[type="button"]:nth-child(2):hover {
  background-color: #065aab;
}

.fifth-line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
